.elements__grid {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-gap: 21px 17px;
}

@media screen and (max-width: 320px) {
  .elements__grid {
    max-width: 282px;
    grid-gap: 20px;
  }
}